@import "./common-base.scss";

.mv2-text-align__left {
    text-align: left;
}

.mv2-text-align__right {
    text-align: right;
}

.mv2-text-align__justify {
    text-align: justify;
    text-align-last: justify;
}

.mv2-text-align__center {
    text-align: center;
}

.mv2-background__info {
	background: $c_info;
}
.mv2-background__success {
	background: $c_success;
}
.mv2-background__warning {
	background: $c_warning;
}
.mv2-background__danger {
	background: $c_warning;
}

.mv2-border_text {
	border:1px solid $c_text;
}
.mv2-border_info {
	border:1px solid $c_info;
}
.mv2-border_success {
	border:1px solid $c_success;
}
.mv2-border_warning {
	border:1px solid $c_warning;
}
.mv2-border_danger {
	border:1px solid $c_danger;
}


/////////////// ↓ 字体颜色 ↓ ///////////////
.mv2-effect__dark {
	color: var(--c_white);
}
.mv2-effect__info-light {
	color: $c_info;
}
.mv2-effect__text-light {
	color: $c_text;
}
.mv2-effect__success-light {
	color: $c_success;
}
.mv2-effect__warning-light {
	color: $c_warning;
}
.mv2-effect__danger-light {
	color: $c_danger;
}

/////////////// ↓ 背景颜色 ↓ ///////////////
.mv2-effect__light {
	background: $c_light_info;
}

.mv2-effect__info-dark {
	background: $c_info;
}
.mv2-effect__text-dark {
	background: $c_text;
}
.mv2-effect__success-dark {
	background: $c_success;
}
.mv2-effect__warning-dark {
	background: $c_warning;
}
.mv2-effect__danger-dark {
	background: $c_danger;
}

.mv2-input-object {
	height: 24px;
	padding:6px 10px;
	border: 1px solid $c_dark-gray;
	border-radius: 6px;
	outline: none;
	&:focus {
		border: 1px solid $c_dark-blue;
	}
}