@import "./common-base.scss";

.mv2-text-align__left {
    text-align: left;
}

.mv2-text-align__right {
    text-align: right;
}

.mv2-text-align__justify {
    text-align: justify;
    text-align-last: justify;
}

.mv2-text-align__center {
    text-align: center;
}

.mv2-background__info {
	background: $c_info;
}
.mv2-background__success {
	background: $c_success;
}
.mv2-background__warning {
	background: $c_warning;
}
.mv2-background__danger {
	background: $c_warning;
}

.mv2-border_text {
	border:1px solid $c_text;
}
.mv2-border_info {
	border:1px solid $c_info;
}
.mv2-border_success {
	border:1px solid $c_success;
}
.mv2-border_warning {
	border:1px solid $c_warning;
}
.mv2-border_danger {
	border:1px solid $c_danger;
}
/////////////// ↓ 字体颜色 ↓ ///////////////
.mv2-effect__dark {
	color: var(--c_white);
}
.mv2-effect__info-light {
	color: $c_info;
}
.mv2-effect__text-light {
	color: $c_text;
}
.mv2-effect__success-light {
	color: $c_success;
}
.mv2-effect__warning-light {
	color: $c_warning;
}
.mv2-effect__danger-light {
	color: $c_danger;
}
/////////////// ↓ 背景颜色 ↓ ///////////////
.mv2-effect__light {
	background: $c_light_info;
}

.mv2-effect__info-dark {
	background: $c_info;
}
.mv2-effect__text-dark {
	background: $c_text;
}
.mv2-effect__success-dark {
	background: $c_success;
}
.mv2-effect__warning-dark {
	background: $c_warning;
}
.mv2-effect__danger-dark {
	background: $c_danger;
}

.mv2-input-input-box {
	height: 24px;
	padding:6px 10px;
	border: 1px solid $c_dark-gray;
	border-radius: 6px;
	outline: none;
	&:focus {
		border: 1px solid $c_dark-blue;
	}
}

.mv2-foot-btn {
	text-align: right;
	>div {
		display: inline-block;
	};
}

.mv2-datetime-picker-box {
	padding: 10px;
	width: 167px;
	// border: 1px solid #CCCCCC;
	// border-radius: 6px;
	// background: #F7F7F7;
}

.mv2-mask-layer-box {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
	background: rgba($color: $c_pure_black, $alpha: $v_golden_ratio);
}

.mv2-buttons-box {
	padding: 5px;
	margin: 5px;

	.mv2-buttons {
		min-width: 50px;
		margin: auto 5px;
	}
}

.mv2-dialog-foot-box {
	margin-top: 10px;
}